
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F6F6F6;
}

.navbar {
    display: flex;
    position: sticky;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #F6F6F6;
    color: black;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}



.logo {
    padding-top: 0px;
}


.search-container {
    position: relative;
    display: flex;
    align-self: flex-end;
    margin-bottom: 5px;
}

.search-bar {
    width: 100%;
    padding: 10px 15px 6px 50px;
    border: 2px solid black;
    border-radius: 10px; 
    font-size: 1rem; 
    outline: none; 
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.search-bar:focus {
    border-color: #335C81; 
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5); 
}

.search-icon {
    position: absolute;
    top: 13px;
    left: 15px;
    color: black; 
    font-size: 1.2rem; 
    pointer-events: none; 
}



.subscribe-container {
    align-self: flex-end;
    margin-top: 10px;
    margin-bottom: 5px;
}

.subscribe-btn {
    background-color: transparent;
    color: #335C81;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    padding: 10px 50px;
    border: 2px solid #34495e;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.subscribe-btn:hover {
    background-color: #335C81;
    color: white;
}



.dropdown-container {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5px;
    gap: 40px;
}

.dropdown {
    position: relative;
    width: 100%;
}




.dropdown-btn {
    display: flex;
    align-items: center; 
    gap: 8px;  
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    font-size: 16px; 
    font-family: 'Poppins', sans-serif;
}

.dropdown-btn i {
    margin-left: auto; 
}


.dropdown-btn:hover {
    background-color: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    color: black;
    min-width: 125px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    margin-top: 5px;
}

.dropdown-content a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

p {
    font-family: "GFS Didot", serif;
    font-size: larger;
}


h1, p {
    margin: 20px 0; 
    width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
}


.share{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;
    color: black;
}

.bookmark{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;
    color: black;
}

.container {
    width: 50%; 
    margin: 0px auto; 
}

.line {
    border: none; 
    border-top: 1px solid #ccc; 
    margin: 20px 0; 
}

.button-group {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    margin-top: 10px; 
}

button {
    background: none; 
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.image-container {
    text-align: center; 
    width: 100%; 
    margin: 20px 0; 
}

.responsive-image {
    display: block; 
    margin: 20px auto; 
    max-width: 100%; 
    height: auto; 
}






